{{model.user.name}} {{model.user.money}}$
{{truck-list title="List of Trucks" list=model.truckList}}
{{type-list title="List of TruckTypes" list=model.typeList}}
{{journey-list title="List of Journeys" list=model.journeyList}}
<button type="button">Next Turn</button>